added a new

<% if activity.trackable %>
  <%= link_to "Flow Cytometry", activity.trackable %> protocol on the 
  <%=link_to activity.trackable.antibody.antibody, activity.trackable.antibody %> antibody.
<% else %>
  protocol which has since been removed.
<% end %>
<div>
  <small>Posted <%= time_ago_in_words(activity.created_at) %> ago.</small>
</div>