<% provide(:title, @title) %>
<div class="row">
  <aside class="col-xs-12 col-md-3 col-md-offset-2">
    <section>
      <h3>
        <%= link_to @user.name, @user %>
      </h3>
    </section>
    <section>
      <%= render 'users/stats' %>
    </section>
  </aside>
  <div class="col-xs-12 col-md-3">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>