<% provide(:title, "About") %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1>
      <p>
        <small>
          Bind is a dynamic antibody and research application manager that promotes collaboration among research scientists and connects them to reliable antibodies.
        </small>
      </p>
    </h1>
    <hr />
  </div>
</div>
