@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #ecf0f1;
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg: white;
$navbar-default-brand-color: #186f99;
$brand-primary: #4ea3cc;
$box-shadow: 0px 3px 15px;

@import 'bootstrap';

body {
  background: url('antibody_stream.png') no-repeat;
  padding-bottom: 70px;
}


#error_explanation h2 {
  text-align: left;
  font-size: 1em;
  margin-top: -5px;
}

#error_explanation ul {
  font-size: 0.85em;
  list-style: none;
  margin-left: -20px;
}

.panel {
  box-shadow: $box-shadow;
}

.show {
  margin-top: 5px;
}

.navbar-header {
  margin-bottom: 8px;
}

.navbar {
  box-shadow: 0px 0px 10px;
  
  li a:hover {
    border-bottom: 5px solid #317f6e;  
  }
}

.center {
  text-align: center;
}

.publication {
  border-bottom: solid 1px #CCC;
  padding: 15px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

.stats {
  margin-top: 10px;
  padding: 2px;
  overflow: auto;
  li {
    list-style: none;
  }
  a {
    float: left;
    padding: 0 10px;
    color: #186f99;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  strong {
    display: block;
  }
}

.well {
  box-shadow: $box-shadow;
}

.list-group {
  border-radius: 5px;
  li {
    list-style: none;
    a:hover {
      text-decoration: none;
    }
  }
}

#sidebar {
  width: 180px;
  background-color: white;
  min-height: 50px;
  margin: 0 0 15px 0; /*controls the cutoff of the top and bottom limitations*/
  padding: 15px 5px;
  box-shadow: $box-shadow; 
  border-radius: 5px;
  float: right; /* float right for a right aligned sidebar */
  li {
    list-style: none;
    a:hover {
      text-decoration: none;
    }
  }
}

.users {
  list-style: none;
}

.app_nav span {
  float: right;
}

footer {
  margin-top: 45px;
  padding: 10px;
  color: #555;
  text-align: center;
}