@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #ecf0f1;
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg: white;
$navbar-default-brand-color: #186f99;
$brand-primary: #4ea3cc;

@import 'bootstrap';

body {
  background-image: url('dna-lg.png');
}

.panel {
  box-shadow: 5px 5px 10px;
}

.show {
  margin-top: 50px;
}

.navbar-header {
  margin-bottom: 8px;
}

.navbar {
  box-shadow: 0px 0px 10px;
}

.navbar li a:hover {
  border-bottom: 5px solid #317f6e;
}

.center {
  text-align: center;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid white;
  color: #555;

  a {
    color: #555;
    &:hover {
    color: #eaeaea;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}