<nav class="navbar-fixed-bottom">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <footer class="footer">
        <small>
          &copy; 2014 Bind. All Rights Reserved.
        </small>
        <nav>
          <ul>
            <small>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
            </small>
          </ul>
        </nav>
      </footer>
    </div>
  </div>
</nav>