<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Immunoprecipitation protocols: </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>By</th>
          <th>Cell</th>
          <th>Antibody</th>
          <th>Image</th>
        </tr>
      </thead>

      <tbody>
        <% @ipreprotocols.each do |protocol| %>
          <tr>
            <td>
              <% if current_user == protocol.user %>
                You
              <% else %>
                <%= link_to protocol.user.name, protocol.user %>
              <% end %>
            </td>
            <td>
              <%= protocol.cell %>
            </td>
            <td>
              <%= link_to protocol.antibody.antibody, protocol.antibody %>
            </td>
            <td>
              <%= link_to 'Show', protocol, class: "btn-link" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>